.dark {
  background: rgba(15, 14, 14, 0.853);
  color: aliceblue;
}

.dark a {
  color: orange;
}
.ads {
  border: 1px solid whitesmoke;
  width: fit-content;
}

.ads a {
  text-decoration: none;
  color: inherit;
}

.fav {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.3em;
}

.fav :hover {
  font-size: 2em;
}
